 <div class="scrollable scroll_top" ui-shared-state="searchBar" >
 <div class="scrollable-content" >
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		
		
		<!--************************************
				Header End
		*************************************-->
		<!--************************************
				Inner Page Banner Start
		*************************************-->
		<div class="tg-innerpagebanner">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="tg-pagetitle">
							<h1>Success</h1>
						</div>
						<ol class="tg-breadcrumb">
							<li><a href="/HTML/html/service_provider/404error.html#">Home</a></li>
							<li class="tg-active">Success</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Page Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-paddingzero tg-haslayout">
			<!--************************************
					404 Error Start
			*************************************-->
			<div class="tg-main-section tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-10 col-lg-push-1">
							<div class="row">
								
									
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="tg-404errorcontent">
										<div class="">
											<h3>You have successfully registered please go to your mail and activate your account by click on link.</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--************************************
					404 Error End
			*************************************-->
		</main>
		
		<div ng-include="'templates/footer.html'"></div>
	</div>
	</div>
	</div>